sphinx~=7.2.6
setuptools~=69.0.3
numpy~=1.26.4
pyiron_atomistics~=0.4.17
ase~=3.22.1
atomistics~=0.1.23
phonopy~=2.21.0
pandas~=2.1.4
sqlalchemy~=2.0.25
pyiron_base~=0.7.9
bidict~=0.23.1
cloudpickle~=3.0.0
h5io~=0.2.4
graphviz~=9.0.0
matplotlib~=3.8.2
pympipool~=0.7.13
toposort~=1.10
typeguard~=4.2.1