{% if init %}
{{ init }}
{% endif %}
{% if potential %}
{{ potential }}
{% endif %}
{% if dump %}
{{ dump }}
{% endif %}
{% if thermo %}
{{ thermo }}
{% endif %}
{% if velocity %}
{{ velocity }}
{% endif %}
{% if calculation %}
{{ calculation }}
{% endif %}
{% if run %}
{{ run }}
{% endif %}
